################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/IsonelApi/.vs
/.vs/IsonelSolution
/.vs/ProjectEvaluation
obj/
bin/
*.user
*.suo
/IsonelApi/obj/Debug/net9.0/EndpointInfo/IsonelApi.json
/IsonelApi/obj/Debug/net9.0/ref/IsonelApi.dll
/IsonelApi/obj/Debug/net9.0/refint/IsonelApi.dll
/IsonelApi/obj/Debug/net9.0/ApiEndpoints.json
/IsonelApi/obj/Debug/net9.0/apphost.exe
/IsonelApi/obj/Debug/net9.0/IsonelApi.AssemblyInfo.cs
/IsonelApi/obj/Debug/net9.0/IsonelApi.AssemblyInfoInputs.cache
/IsonelApi/obj/Debug/net9.0/IsonelApi.pdb
/IsonelApi/obj/Debug/net9.0/IsonelApi.dll
/IsonelApi/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/IsonelApi/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/IsonelApi/obj/Debug/net9.0/IsonelApi.sourcelink.json
/IsonelApi/bin/Debug/net9.0/IsonelApi.dll
/IsonelApi/bin/Debug/net9.0/IsonelApi.exe
/IsonelApi/bin/Debug/net9.0/IsonelApi.pdb
