<div class="em-andamento-container container">

  <!-- Abas principais -->
  <div class="tabs">
    <button class="tab" [class.active]="abaAtiva === 'geral'" (click)="abaAtiva = 'geral'">Geral</button>
    <button class="tab" [class.active]="abaAtiva === 'processos'" (click)="abaAtiva = 'processos'">Processos</button>
  </div>

  <!-- Aba 1: Geral -->
  <div *ngIf="abaAtiva === 'geral'" class="aba-geral">
    <h2 class="titulo">Ativos: {{ processos.length }}</h2>

    <div class="cards-container">
      <div *ngFor="let p of processos" class="card-processo">
        <h4>{{ p.codigo }}</h4>
        <p class="status"><i class="fa-solid fa-circle" [style.color]="p.cor"></i> {{ p.status }}</p>
        <p><i class="fa-solid fa-diagram-project"></i> Etapa: {{ p.etapa }}</p>
        <p><i class="fa-solid fa-calendar-days"></i> Iniciado: {{ p.dataInicio }}</p>
        <p><i class="fa-solid fa-cart-shopping"></i> Cliente: {{ p.cliente }}</p>
        <p><i class="fa-solid fa-box-archive"></i> Produto: {{ p.produto }}</p>
        <p class="responsavel"><i class="fa-solid fa-user-gear"></i> Responsavel: {{ p.responsavel }}</p>

      <button class="btn-detalhes" (click)="abrirDetalhesGeral(p)">Detalhes</button>
      </div>
    </div>
  </div>

  <!-- Aba 2: Processos -->
  <div *ngIf="abaAtiva === 'processos'" class="aba-processos">
    <div class="abas-internas">
      <button *ngFor="let etapa of etapasResumo"
              [class.active]="etapa.nome === etapaAtiva"
              (click)="etapaAtiva = etapa.nome">
        {{ etapa.nome }} ({{ etapa.qtd }})
      </button>
    </div>

    <div class="lista-processos">
      <div *ngFor="let p of processosFiltrados" class="linha-processo">
        <span class="status"><strong>{{ p.codigo }}</strong></span>
        <span class="status"><i class="fa-solid fa-circle" [style.color]="p.cor"></i> {{ p.status }}</span>
        <span class="responsavel"><i class="fa-solid fa-user"></i> {{ p.responsavel }}</span>
        <span><i class="fa-solid fa-store"></i> {{ p.cliente }}</span>
       <button class="btn-detalhes" (click)="abrirDetalhesEtapa(p)">Detalhes</button>
       <button *ngIf="p.etapa === 'Preparação'" class="btn-corte" (click)="abrirModalCorte(p)">Corte</button>
        <button 
          *ngIf="p.etapa !== 'Ligação'" 
          class="btn-acao" 
          (click)="abrirAvancarEtapa(p)">
          Avançar etapa
        </button>

        <button 
          *ngIf="p.etapa === 'Ligação'" 
          class="btn-acao btn-finalizar" 
          (click)="finalizarProcesso(p)">
          Finalizar processo
        </button>
      </div>
    </div>
  </div>

<!-- Modal: Detalhes Geral -->
<ng-container *ngIf="modalGeralAberto">
  <div class="modal-overlay" (click)="fecharModalGeral()">
    <div class="modal-detalhes" (click)="$event.stopPropagation()">
      <h2>Detalhes</h2>

      <h3>{{ processoSelecionado?.codigo }}</h3>

      <div class="status-row">
        <i class="fa-solid fa-circle" [style.color]="processoSelecionado?.cor"></i>
        <select [(ngModel)]="processoSelecionado.status" class="input-status">
          <option>Em andamento</option>
          <option>Finalizado</option>
          <option>Pendente</option>
        </select>
      </div>

      <p><i class="fa-solid fa-diagram-project"></i> Etapa: {{ processoSelecionado?.etapa }}</p>
      <p><i class="fa-solid fa-calendar-days"></i> Processo Iniciado: {{ processoSelecionado?.dataInicio }}</p>
      <p><i class="fa-solid fa-calendar-days"></i> Etapa iniciada: {{ processoSelecionado?.dataEtapa }}</p>
      <p><i class="fa-solid fa-cart-shopping"></i> Cliente: {{ processoSelecionado?.cliente }}</p>
      <p><i class="fa-solid fa-box-archive"></i> Produto: {{ processoSelecionado?.produto }}</p>
      <p>
        <i class="fa-solid fa-user-gear"></i> Responsável pela etapa:
        <input class="input-responsavel" type="text" [(ngModel)]="processoSelecionado.responsavel" />
      </p>

      <label>Observação</label>
      <textarea [(ngModel)]="processoSelecionado.observacao" placeholder="Digite aqui..."></textarea>

      <div class="modal-actions">
        <button class="btn-cancelar" (click)="fecharModalGeral()">Cancelar</button>
        <button class="btn-concluir" (click)="salvarAlteracoes()">Concluir</button>
      </div>
    </div>
  </div>
</ng-container>

<!-- Modal: Detalhes Etapa -->
<ng-container *ngIf="modalEtapaAberto">
  <div class="modal-overlay" (click)="fecharModalEtapa()">
    <div class="modal-detalhes" (click)="$event.stopPropagation()">
      <h2>Detalhes da Etapa</h2>

      <h3>{{ etapaSelecionada?.codigo }}</h3>

      <div class="status-row">
        <i class="fa-solid fa-circle" [style.color]="etapaSelecionada?.cor"></i>
        <select [(ngModel)]="etapaSelecionada.status" class="input-status">
          <option>Em andamento</option>
          <option>Finalizado</option>
          <option>Pendente</option>
        </select>
      </div>

      <p><i class="fa-solid fa-diagram-project"></i> Etapa: {{ etapaSelecionada?.etapa }}</p>
      <p><i class="fa-solid fa-calendar-days"></i> Processo Iniciado: {{ etapaSelecionada?.dataInicio }}</p>
      <p><i class="fa-solid fa-calendar-days"></i> Etapa iniciada: {{ etapaSelecionada?.dataEtapa }}</p>
      <p><i class="fa-solid fa-cart-shopping"></i> Cliente: {{ processoSelecionado?.cliente }}</p>
      <p><i class="fa-solid fa-box-archive"></i> Produto: {{ processoSelecionado?.produto }}</p>
      <p>
        <i class="fa-solid fa-user-gear"></i> Responsável pela etapa:
        <input class="input-responsavel" type="text" [(ngModel)]="etapaSelecionada.responsavel" />
      </p>

      <label>Observação</label>
      <textarea [(ngModel)]="etapaSelecionada.observacao" placeholder="Digite aqui..."></textarea>

      <div class="modal-actions">
        <button class="btn-cancelar" (click)="fecharModalEtapa()">Cancelar</button>
        <button class="btn-concluir" (click)="salvarEtapa()">Concluir</button>
      </div>
    </div>
  </div>
</ng-container>

<!-- Modal: Avançar Etapa -->
<div class="modal-overlay" *ngIf="modalAvancarAberto" (click)="fecharModalAvancar()">
  <div class="modal-avancar" (click)="$event.stopPropagation()">
    <h2>Avançar etapa</h2>

    <p>Insira o responsável pela próxima etapa</p>
    <input
      type="text"
      [(ngModel)]="novoResponsavel"
      placeholder="Nome do responsável"
      class="input-responsavel"
    />

    <div class="modal-actions">
      <button class="btn-cancelar" (click)="fecharModalAvancar()">Cancelar</button>
      <button class="btn-concluir" (click)="concluirAvanco()">Concluir</button>
    </div>
  </div>
</div>

<!-- Modal: Corte -->
<!-- Modal: Corte -->
<div class="modal-overlay" *ngIf="modalCorteAberto" (click)="fecharModalCorte()">
  <div class="modal-corte" (click)="$event.stopPropagation()">
    <h2>Corte</h2>

    <div class="modal-corte__content">
      <div *ngFor="let item of materiais; let i = index" class="linha-inputs">
        <input type="text" [(ngModel)]="item.material" placeholder="Material" />
        <input type="number" [(ngModel)]="item.altura" placeholder="Altura" />
        <input type="number" [(ngModel)]="item.largura" placeholder="Largura" />
        <input type="number" [(ngModel)]="item.espessura" placeholder="Espessura" />
        <input type="number" [(ngModel)]="item.quantidade" placeholder="Quantidade" />
        
        <!-- botão remover linha -->
        <button class="btn-add" (click)="removerLinha(i)">−</button>
      </div>
  
      <button class="btn-add" (click)="adicionarLinha()">+</button>
  
      <div class="modal-actions">
        <button class="btn-cancelar" (click)="fecharModalCorte()">Cancelar</button>
        <button class="btn-concluir" (click)="concluirCorte()">Concluir</button>
      </div>
    </div>
  </div>
</div>


</div>
