@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --cor-primaria: #07587e;
  --cor-primaria-escura: #043c57;
  --cor-secundaria: #02abea;
  --cor-branca: #e8e8e8;
  --cor-cinza: #dfdfdf;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: var(--cor-primaria);
}
