<header class="header-page" [class.shifted]="menuAberto">
  <div class="menu-toggle" (click)="toggleMenu()">
    <i class="fa-solid fa-bars"></i>
  </div>

  <a class="logo" routerLink="/">
    <img class="logo-img" src="/images/logoisonelbranco.png" alt="Isonel_logo">
  </a>

  <div class="search-bar">
    <input
      type="text"
      class="search-bar__input"
      placeholder="Pesquisar processo"
      aria-label="Pesquisar processo"
    />
    <i class="fa-solid fa-magnifying-glass search-bar__icon" aria-hidden="true"></i>
  </div>

  <div class="btn-create-process">
  <button class="btn" (click)="abrirModalCriar()">Criar processo</button>
</div>
</header>

<nav class="sidebar" [class.open]="menuAberto">
  <ul>
    <li><a routerLink="/andamento" (click)="closeMenu()">Em andamento</a></li>
    <li><a routerLink="/finalizado" (click)="closeMenu()">Finalizado</a></li>
    <li><a routerLink="/pausado" (click)="closeMenu()">Pausado</a></li>
    <li><a routerLink="/dados" (click)="closeMenu()">Dados</a></li>
  </ul>
</nav>

<div class="overlay" [class.show]="menuAberto" (click)="closeMenu()"></div>

<!-- Modal: Criar Processo -->
<div class="modal-overlay" *ngIf="modalCriarAberto" (click)="fecharModalCriar()">
  <div class="modal-criar" (click)="$event.stopPropagation()">
    <h2>Criar novo processo</h2>

    <label>Status</label>
    <select [(ngModel)]="novoProcesso.status">
      <option>Em andamento</option>
      <option>Pausado</option>
      <option>Finalizado</option>
    </select>

    <label>Etapa inicial</label>
    <select [(ngModel)]="novoProcesso.etapa">
      <option *ngFor="let e of etapas" [value]="e">{{ e }}</option>
    </select>

    <label>Cliente</label>
    <input type="text" [(ngModel)]="novoProcesso.cliente" placeholder="Nome do cliente" />

    <label>Responsável Etapa</label>
    <input type="text" [(ngModel)]="novoProcesso.responsavel" placeholder="Nome do resposável pela etapa" />

    <label>Produto</label>
    <input type="text" [(ngModel)]="novoProcesso.produto" placeholder="Produto" />

    <label>Observação</label>
    <textarea [(ngModel)]="novoProcesso.observacao" placeholder="Digite aqui..."></textarea>

    <div class="modal-actions">
      <button class="btn-cancelar" (click)="fecharModalCriar()">Cancelar</button>
      <button class="btn-concluir" (click)="criarProcesso()">Criar</button>
    </div>
  </div>
</div>
